<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercises Page</title>
    <link rel="website icon" type="jpg" href="Logo.jpg">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>

        body {
            padding: 20px;
        }
        h1 {
            margin-bottom: 20px;
            color: black;
            text-align: center;
        }
        .btn-primary {
            background-color: #24e802;
            border-color: #24e802;
        }
        .btn-primary:hover {
            background-color: #24e802;
            border-color: #24e802;
        }

    </style>
</head>
<body>
<div class="container">
    <h1>Dobrodošli</h1>
    <table class="table">
        <tbody>
        <tr th:each="exercise : ${exercises}">
            <td>
                <a class="btn btn-primary" th:href="@{${exercise.youtubeLink}}" th:text="${exercise.youtubeLink}">Vježbe</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
